<div *ngIf="stationDataValue" class="container">
  <h2 class="title">Fecha de los datos: {{date}}</h2>
  <div  class="container-table">
    <table  class="table">
      <caption class="title-table">Medidas de Humedad</caption>
      <thead>
        <tr>
          <th>Humedad Max</th>
          <th>Humedad Min</th>
          <th>Humedad Media</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{stationDataValue.humedadMax}}%</td>
          <td>{{stationDataValue.humedadMin}}%</td>
          <td>{{stationDataValue.humedadMedia}}%</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <caption class="title-table">Medidas de Temperatura</caption>
      <thead>
        <tr>
          <th>Temperatura Max</th>
          <th>Temperatura Min</th>
          <th>Temperatura Media</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{stationDataValue.tempMax}}°C</td>
          <td>{{stationDataValue.tempMin}}°C</td>
          <td>{{stationDataValue.tempMedia}}°C</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <caption class="title-table">Medidas del Viento</caption>
      <thead>
        <tr>
          <th>Dir. Viento</th>
          <th>Dir. Viento Vel Max</th>
          <th>Velocidad del Viento</th>
          <th>Velocidad del Viento Max</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{stationDataValue.dirViento}}</td>
          <td>{{stationDataValue.dirVientoVelMax}}</td>
          <td>{{stationDataValue.velViento}}</td>
          <td>{{stationDataValue.velVientoMax}}</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <caption class="title-table">Medidas de Prec. y Rad.</caption>
      <thead>
        <tr>
          <th>Precipitación</th>
          <th>Radiación</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{stationDataValue.precipitacion}}</td>
          <td>{{stationDataValue.radiacion}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button (click)="getDataAnnual()" class="button">Mostrar Gráfica Anual</button>
</div>


<div *ngIf="error" class="container-error">
  <p class="error__text">Esa Estación está fuera de servicio</p>
</div>