<form [formGroup]="form" (change)="getEstacion()">
  <select name="select" formControlName="estaciones" class="select">
    <option value="">Elige una Estacion:</option>
    <optgroup label="Almería">
      <option *ngFor="let estacion of estacionesAlmeria" value="{{[estacion.provincia.id,estacion.codigoEstacion]}}" >{{estacion.nombre}}</option>
    </optgroup>
    <optgroup label="Cádiz">
      <option *ngFor="let estacion of estacionesCadiz" value="{{[estacion.provincia.id,estacion.codigoEstacion]}}" >{{estacion.nombre}}</option>
    </optgroup>
    <optgroup label="Huelva">
      <option *ngFor="let estacion of estacionesHuelva" value="{{[estacion.provincia.id,estacion.codigoEstacion]}}" >{{estacion.nombre}}</option>
    </optgroup>
    <optgroup label="Sevilla">
      <option *ngFor="let estacion of estacionesSevilla" value="{{[estacion.provincia.id,estacion.codigoEstacion]}}" >{{estacion.nombre}}</option>
    </optgroup>
    <optgroup label="Granada">
      <option *ngFor="let estacion of estacionesGranada" value="{{[estacion.provincia.id,estacion.codigoEstacion]}}" >{{estacion.nombre}}</option>
    </optgroup>
    <optgroup label="Jaén">
      <option *ngFor="let estacion of estacionesJaen" value="{{[estacion.provincia.id,estacion.codigoEstacion]}}" >{{estacion.nombre}}</option>
    </optgroup>
    <optgroup label="Córdoba">
      <option *ngFor="let estacion of estacionesCordoba" value="{{[estacion.provincia.id,estacion.codigoEstacion]}}" >{{estacion.nombre}}</option>
    </optgroup>
    <optgroup label="Málaga">
      <option *ngFor="let estacion of estacionesMalaga" value="{{[estacion.provincia.id,estacion.codigoEstacion]}}" >{{estacion.nombre}}</option>
    </optgroup>
  </select>
</form>

<table *ngIf="stationData">
  <thead>
    <tr>
      <th>Humedad Max</th>
      <th>Humedad Min</th>
      <th>Humedad Media</th>
      <th>Temperatura Max</th>
      <th>Temperatura Min</th>
      <th>Temperatura Media</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{stationData.humedadMax}}</td>
      <td>{{stationData.humedadMin}}</td>
      <td>{{stationData.humedadMedia}}</td>
      <td>{{stationData.tempMax}}</td>
      <td>{{stationData.tempMin}}</td>
      <td>{{stationData.tempMedia}}</td>
    </tr>
  </tbody>
</table>

<div *ngIf="stationError" class="container-error">
  <p class="error__text">Esa Estación está fuera de servicio</p>
</div>